{% extends "index.twig" %}
{% block body %}
    <div class="container mt-3">
        <div class="row">
            <div class="col-md-12">
                <h1 class="display-4">Switchboard Collaboration <small> – A space for entrepreneurship fusion. </small></h1>
                <p class="lead">created by Greg, Lesley and Kate.</p>
                <h3>A space for our networks to meet.</h3>
                <p>We are passionate and interested in each of our entrepreneurship communities, and want have a space where we can bring them all together stimulating conversations; sharing || watching || reading || listening || support. </p>
                <p>I have always been a gatherer of people in my journey – sometimes too vehemently and admittedly clutched onto you rather too tightly. I am pleased to report I now hold my connections with inspiration, passion and mostly with appropriate pressure. </p>
                <p>We are connecting from all continents and all industries. Some of us are in the midst of a entrepreneurship crisis, some of us are starting – some of us are closing – some of us are thriving. We all are connected by the “individual” creation of a going concern and all the wonders and disappointments this carries.  </p>
                <p>We each made a decision to embark on a road of financial ownership, employment responsibility and business empowerment. My decision to open Switchboard Consulting was inspired by difficulties in finding a job in the formal marketplace and a spontaneous birth of clients who came looking for my business planning skills.  </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <hr />
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-4">
                        <div id="about-img">
                            <img class="img img-responsive" src="{{site.url}}images/yetunda.jpg" />
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div id="about-text">
                            <h4>Kate</h4>
                            <p>My formal working career started in the travel industry working as sales consultant, sales support and procurement manager. I cut my teeth in business management at Flight Centre negotiating and navigating the supplier contracts – what an incredible company and experience. I was inspired to further my studies and acquired an MBA which propelled me into a questioning narrative. I really enjoy having a conversations about businesses.</p>
                            <p>I worked in the digital marketing space as a media buyer with a dynamic company Thrive Online. This was my introduction to collaborations. Thrive brought together a handful of experts in their respective digital fields and formed an umbrella company that is formidable in digital solutions. It was inspiring working with colleagues who had landed on a focus and fine-tuned their skill set so acutely – focus  is an ongoing journey for me.</p>
                            <p>I started working as a mom 6 years ago and in July 2020 opened my own business called Switchboard Consulting where I have combined my business skills with my people passion offering business planning and strategy services. I am currently doing an Integral coaching course through Thirdspace which is transformative on many levels. I am confronting myself and learning how to  be !</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <hr />
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-4">
                        <div id="about-img">
                            <img class="img img-responsive" src="{{site.url}}images/yetunda.jpg" />
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div id="about-text">
                            <h4>Lesley</h4>
                            <p>I’m a self-taught chef working on a freelance basis abroad and in the United Kingdom. I adapt menus to suit the tastes and requirements of my clients. I’m always keen to adapt and experiment with new flavours, cuisine, styles and food philosophies.</p>
                            <p>My previous experience in the film and hospitality industries means I’m amenable to changes of environments, schedules, tastes, time zones and the general chaos of life. I’ve collaborated with trainers and nutritionist to aid clients in their dietary and fitness goals.</p>
                            <p>I have previously assisted clients with all the following types of diets: vegan, paleo, gluten-free, coeliac, diary free and raw.</p>
                            <p>Nothing thrills me more than nurturing through the medium of a good meal. Cooking is an extremely satisfying exercise for me and I am privileged to live in London, the centre of the universe for a lover to good food and fine dining.</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <hr />
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-4">
                        <div id="about-img">
                            <img class="img img-responsive" src="{{site.url}}images/yetunda.jpg" />
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div id="about-text">
                            <h4>Greg</h4>
                            <p>My formal working career started in the travel industry working as sales consultant, sales support and procurement manager. I cut my teeth in business management at Flight Centre negotiating and navigating the supplier contracts – what an incredible company and experience. I was inspired to further my studies and acquired an MBA which propelled me into a questioning narrative. I really enjoy having a conversations about businesses.</p>
                            <p>I worked in the digital marketing space as a media buyer with a dynamic company Thrive Online. This was my introduction to collaborations. Thrive brought together a handful of experts in their respective digital fields and formed an umbrella company that is formidable in digital solutions. It was inspiring working with colleagues who had landed on a focus and fine-tuned their skill set so acutely – focus  is an ongoing journey for me.</p>
                            <p>I started working as a mom 6 years ago and in July 2020 opened my own business called Switchboard Consulting where I have combined my business skills with my people passion offering business planning and strategy services. I am currently doing an Integral coaching course through Thirdspace which is transformative on many levels. I am confronting myself and learning how to  be !</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock body %}