.alert-fixed {
  position: fixed;
  top:0;
  left:0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.2);

  z-index: 8000;
}
.alert-fixed i {
  width: 350px;
  margin-top:50vh;
  margin-left: 50vw;
  z-index: 8000;
}
.hidden {
  visibility: hidden;
  display: none;
}
.profile-wrapper img {
  height: 250px !important;
  width: 250px !important;
  border-radius: 50%;
  padding: 15px;
  background: transparent;
}
.profile-wrapper {
  max-height:250px;
  max-width:250px;
}
.edit-btn {
  max-height:3rem;
}
.detail-card {
  width: 650px;
}